.walletsection{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.transfersection{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.col-3{
    width: calc(100% / 3);
}
.col-2{
    width: calc(100% / 2);
}